<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sebas.urano">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Grafico" />
        <activity android:name=".Funciones" />
        <activity android:name=".Matriz" />
        <activity android:name=".SistemasDeEcuaciones" />
        <activity
            android:name=".Ayudas.AyudaBiseccion"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaReglaFalsa"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaPuntoFijo"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaNewton"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaSecante"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaRaicesMultiples"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaEGParcial"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaEGTotal"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaLUSimple"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaLUParcial"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaCholesky"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaDoolittle"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaCrout"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaJacobi"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity
            android:name=".Ayudas.AyudaSOR"
            android:theme="@style/AppTheme.PopusTheme" />
        <activity android:name=".InterpolacionFinal"></activity>
    </application>

</manifest>